[submodule "trailer/modules/router"]
	path = trailer/modules/router
	url = git://github.com/dannyvankooten/PHP-Router.git
[submodule "trailer/modules/activerecord"]
	path = trailer/modules/activerecord
	url = git://github.com/kla/php-activerecord.git
[submodule "trailer/modules/migrations"]
	path = trailer/modules/migrations
	url = git://github.com/ruckus/ruckusing-migrations.git
